@use 'base/variables' as v;
@use 'base/mixins' as m;

.site-footer {
    background-color: v.$rosa;
    
    p {
        color: v.$blanco;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        padding: 1rem;
        margin: 0;

    }

}